@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');

body {
    display: flex;
    padding: 0;
    margin: 0;
    overscroll-behavior: contain;
}

#main-left {
    position: relative;
}

#main-right {
    width: 65vw;
    height: 100vh;
    background-color: #fbd1a2;
}

#bg-img {
    width: 35vw;
    height: 100vh;
}

#cred-text {
    color: white;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    bottom: -0.4vh;
    left: 25%;
}

a {
    color: inherit;
}