@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');

/* * {
    border: red 1px solid;
} */

body {
    display: flex;
    padding: 0;
    margin: 0;
}

/* Background Section Begins Here */
#main-left {
    position: relative;
    height: 100vh;
    width: 35vw;
    background: url(img/matt-benson-7NE9jk3EUKw-unsplash.jpg);
    background-size: contain;
}

#main-right {
    display: flex;
    flex-direction: column;
    width: 65vw;
    height: 100vh;
    background-color: #f5f2f2;
}

/* #bg-img {
    width: 35vw;
    height: 90vh;
} */

#cred-text {
    color: white;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: -0.7%;
    font-size: 1rem;
}

#logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 70vh;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 18%;
}

#logo-img {
    height: 7vmax;
}

#logo-text {
    font-size: 6vmax;
    font-family: "Tilt Warp";
    color: white;
}

/* Info Section Begins Here */

#info-container {
    height: 30vh;
    width: 100%;
    display: flex;
}

#info-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

#info-text-1,
#info-text-2,
#submit-btn,
#submit-btn+p,
#form-container>p {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

#info-text-1 {
    font-size: 2.5rem;
    margin-bottom: 2vh;
    font-weight: bold;
}

#info-text-2 {
    font-size: 1.5rem;
}

/* Form Section Begins Here */

#form-bg {
    background-color: #ffffff;
    height: 45vh;
    width: 100%;
    box-shadow: 0px 8px 10px gray;
}

#form-container {
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin-left: 3rem;
}

form {
    display: flex;
    flex-direction: column;
}

.group-container {
    display: flex;
}

.group-data {
    display: flex;
    flex-direction: column;
    margin-right: 5vw;
}

input {
    width: 15vw;
    height: 3vh;
}

form #form-container>p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
}

label {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Account Section Begins Here */

#account-container {
    height: 25vh;
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
    margin-left: 3rem;
}

#submit-btn {
    border-radius: 5px;
    border-style: none;
    color: white;
    background-color: #0047ab;
    font-size: 0.9rem;
    font-weight: bold;
    width: 12vw;
    height: 5vh;
}

#submit-btn:hover {
    box-shadow: 0px 3px 5px gray;
}

#login-primary {
    font-size: 1rem;
}

#login-secondary {
    color: #0047ab;
    text-decoration: none;
}

a {
    color: inherit;
}